.subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $desktop-width) {
    gap: 22px;
  }
}

.subscription__inner {
  display: flex;
  flex-direction: column;
  gap: 11px;

  @media (min-width: $tablet-width) {
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.subscription__title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  margin: 0;
  color: rgba($base-color, 0.8);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.subscription__input {
  padding: 14px 15px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: transparent;
  color: $base-color;
  border: 1px solid rgba($additional-color, 0.3);
  margin: 0;
  resize: none;
  overflow: hidden;
}

.subscription__inner:has(.subscription__title:hover),
.subscription__inner:has(.subscription__input:hover),
.subscription__inner:has(.subscription__input:focus),
.subscription__inner:has(.subscription__input:active) {
  .subscription__title {
    color: $base-color;
  }

  .subscription__input {
    border-color: $additional-color;
    outline: none;
  }
}

.subscription__input--textarea {
  min-height: 94px;

  @media (min-width: $tablet-width) {
    min-height: 88px;
  }

  @media (min-width: $desktop-width) {
    min-height: 90px;
    margin-bottom: -2px;
  }
}

.subscription__input--error {
  background-color: rgba($error-color, 0.2);
  border-color: $error-color;
}

.ss-main .ss-arrow {
  display: none;
}

.subscription__select.ss-main {
  position: relative;
  width: 260px;
  min-height: 52px;
  background-color: transparent;
  color: $base-color;
  border: 1px solid rgba($additional-color, 0.3);
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 15px 39px 15px 20px;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    border-color: $additional-color;
    outline: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 14px;
    height: 12px;
    transition: transform 0.2s ease;

    @include icon-mask-style(url("/__spritemap#sprite-arrow-view"), $additional-color);

    @media (min-width: $tablet-width) {
      right: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 362px;
    padding: 15px 48px 15px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    margin: -2px 0;
  }
}

.subscription__select.ss-main.ss-open-below::after {
  transform: translateY(-50%) rotate(180deg);
}

.subscription__select.ss-open-below:not(.ss-main) {
  border-radius: 8px;
  transform: scaleY(1) translateY(4px);
  transition: all 0.2s ease-in-out;

  .subscription__select-item {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 17px 20px;

    &:hover,
    &:focus-within,
    &:active {
      background-color: $accent-color;
      color: $additional-color;
    }
  }
}

.subscription__inner-checkbox {
  display: flex;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 18px;
  }
}

.subscription__agreement {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
}

.subscription__checkbox-description {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $additional-color;
  width: 200px;

  @media (min-width: $tablet-width) {
    width: 305px;
    font-size: 12px;
    line-height: 11px;
  }
}

.subscription__checkbox-description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.subscription__checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.subscription__checkbox + .subscription__checkbox-description {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid $transparent;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.subscription__decoration-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: $additional-color;
  border: 1px solid $transparent;
  border-radius: 2px;
  position: relative;
}

.subscription__checkbox:checked + .subscription__decoration-mark::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 5px;
  border-radius: 2px;
  transition: background-color 0.2s ease;

  @include icon-mask-style(url("/__spritemap#sprite-checked-view"), $accent-color);
}

.subscription__checkbox:not(:disabled):hover + .subscription__decoration-mark,
.subscription__checkbox:not(:disabled):focus + .subscription__decoration-mark {
  background-color: $accent-color;
  border-color: $additional-color;
  cursor: pointer;
}

.subscription__checkbox:checked:hover + .subscription__decoration-mark::before,
.subscription__checkbox:checked:focus:hover + .subscription__decoration-mark::before {
  @include icon-mask-style(url("/__spritemap#sprite-checked-view"), $additional-color); // Белая галочка
}

.subscription__checkbox:disabled:checked + .subscription__decoration-mark::before {
  @include icon-mask-style(url("/__spritemap#sprite-checked-view"), rgba($additional-color, 0.5)); // ослабленная галочка
}

.subscription__checkbox:disabled:not(:checked) + .subscription__decoration-mark {
  background-color: rgba($disabled-color, 0.2);
  border: 1px solid rgba($disabled-color, 0.5);
  pointer-events: none;
  touch-action: none;
  cursor: not-allowed;
}

.subscription__checkbox:disabled:checked + .subscription__decoration-mark {
  background-color: $disabled-color;
  border: none;
  pointer-events: none;
  touch-action: none;
}

.subscription__agreement:has(.subscription__checkbox:disabled) {
  pointer-events: none;
  cursor: not-allowed;
}

.subscription__button {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 74px;
  width: 260px;
  min-height: 44px;
  padding: 1px 4px 1px 21px;
  position: relative;

  @include link-button($transparent, $additional-color);

  border: 1px solid $additional-color;

  &:hover {
    background-color: $additional-color;
    color: $accent-color;

    &::after {
      background-color: $accent-color;
    }

    &::before {
      background-color: $additional-color;
      opacity: 0.7;
    }
  }

  &:focus {
    outline: none;
    background-color: $accent-color;
    color: $additional-color;

    &::after {
      background-color: $additional-color;
    }

    &::before {
      background-color: $accent-color;
    }
  }

  &:active {
    background-color: $additional-color;
    color: rgba($accent-color, 0.7);

    &::after {
      background-color: $accent-color;
    }

    &::before {
      background-color: rgba($additional-color, 0.7);
    }
  }

  @media (min-width: $tablet-width) {
    width: 352px;
    min-height: 56px;
    gap: 108px;
    padding: 1px 4px 1px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    min-height: 56px;
    gap: 107px;
  }
}

.subscription__button::after {
  content: "";

  @include around-button(34px, 34px, $additional-color);
}

.subscription__button::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;

  @include icon-mask-style(url("/__spritemap#sprite-string-view"), $accent-color);

  position: absolute;
  right: 16px;

  @media (min-width: $tablet-width) {
    right: 22px;
  }
}

.subscription__button--disabled {
  @include disabled-button;
}
