:root {
  --nb-smooth-wrapper: --_nb-smooth;
}

/* fonts */
$main-font: "Manrope", "Arial", sans-serif;

/* viewports */
$mobile-width: 767px;
$tablet-width: 768px;
$pre-desktop-width: 1439px;
$desktop-width: 1440px;


/* colors */
$base-color: #f0efe9;
$accent-color: #316dc2;
$additional-color: #ffffff;
$main-dark-color: #484848;
$disabled-color: #a9afb7;
$error-color: #ff5e66;
$pressed-color: #275699;
$dark-grey: #0d1d33;
$transparent: rgba(0, 0, 0, 0);
